### 1. Carregar os conjuntos de dados `gasolina_2000+.csv` e `gasolina_2010+.csv` em dois DataFrames diferentes e combiná-los em um único DataFrame.

In [2]:
import pandas as pd
df1 = pd.read_csv("gasolina_2000+.csv", index_col=0)
df2 = pd.read_csv("gasolina_2010+.csv", index_col=0)

df = pd.concat([df1, df2])

C:\Users\higor\AppData\Local\Temp\ipykernel_28400\2055329547.py:3: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("gasolina_2010+.csv", index_col=0)

### 2. Investigar as colunas e entender o conjunto de dados usando `head()` e `info()`.

In [3]:
df.head(5)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

### 3. Selecionar a terceira entrada da coluna `DATA INICIAL` e verificar seu tipo.

In [5]:
type(df["DATA INICIAL"].iloc[2])

str

### 4. Converter as colunas `DATA INICIAL` e `DATA FINAL` para `Timestamp` / `Datetime`, em vez de `String`.

In [32]:
df["DATA INICIAL"] = pd.to_datetime(df["DATA INICIAL"])
df["DATA FINAL"] = pd.to_datetime(df["DATA FINAL"])

In [33]:
type(df["DATA INICIAL"].iloc[2])

pandas._libs.tslibs.timestamps.Timestamp

### 5. Criar uma nova coluna para representar o ano e o mês (`aaaa-mm`), utilizando a coluna `DATA FINAL` como referência.

In [8]:
df['ANO-MES'] = df['DATA FINAL'].dt.strftime('%Y-%m')
df['ANO-MES']

0         2004-05
1         2004-05
2         2004-05
3         2004-05
4         2004-05
           ...
120818    2021-05
120819    2021-05
120820    2021-05
120821    2021-05
120822    2021-05
Name: ANO-MES, Length: 120823, dtype: object

### 6. Listar todos os tipos de produtos contidos na base de dados.

In [9]:
df["PRODUTO"].value_counts()

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### 7. Filtrar o DataFrame para obter apenas dados da "GASOLINA COMUM" e gravar em uma nova variável.

In [10]:
gas_comum = df[df["PRODUTO"] == 'GASOLINA COMUM']

In [11]:
gas_comum.head(5)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.99,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.85,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.00,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.97,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.00,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05

### 8. Demonstrar o preço médio de revenda da gasolina em agosto de 2008.

In [12]:
gas_comum[gas_comum["ANO-MES"] == '2008-08']["PREÇO MÉDIO REVENDA"].mean()

np.float64(2.6012444444444442)

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [13]:
gas_comum[(gas_comum["ANO-MES"] == '2008-08') & (gas_comum["ESTADO"] == 'SAO PAULO')]["PREÇO MÉDIO REVENDA"].mean()

np.float64(2.4046)

### 10. Em quais estados a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [14]:
gas_comum[gas_comum['PREÇO MÉDIO REVENDA'] > 5][['ESTADO', 'ANO-MES', 'PREÇO MÉDIO REVENDA']]

                ESTADO  ANO-MES  PREÇO MÉDIO REVENDA
98201             ACRE  2018-05                5.053
98347             ACRE  2018-06                5.035
98493             ACRE  2018-06                5.038
98511   RIO DE JANEIRO  2018-06                5.016
98646             ACRE  2018-06                5.031
...                ...      ...                  ...
120721         RORAIMA  2021-05                5.364
120722  SANTA CATARINA  2021-05                5.051
120723       SAO PAULO  2021-05                5.265
120724         SERGIPE  2021-05                5.586
120725       TOCANTINS  2021-05                5.751

[353 rows x 3 columns]

### 11. Qual a média de preço dos estados da região sul em 2012?

In [15]:
gas_comum_2012 = gas_comum[(gas_comum['ANO-MES'].str[:4] == '2012') & (gas_comum['REGIÃO'] == 'SUL')]
media_preco_revenda = gas_comum_2012['PREÇO MÉDIO REVENDA'].mean()
media_preco_revenda

np.float64(2.7214423076923073)

### 12. Obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro.

In [31]:
gas_comum["MES"] = gas_comum["ANO-MES"].str[5:]
df_rio = gas_comum[gas_comum["ESTADO"] == "RIO DE JANEIRO"]
df_month_rio = df_rio.groupby('ANO-MES')[['PREÇO MÉDIO REVENDA', 'MES']].last()
df_last_month = df_month_rio[df_month_rio['MES'] == '12']

var_percentual = ((df_last_month['PREÇO MÉDIO REVENDA'] - df_last_month['PREÇO MÉDIO REVENDA'].shift(1)) / (df_last_month['PREÇO MÉDIO REVENDA'].shift(1))) * 100
var_percentual

C:\Users\higor\AppData\Local\Temp\ipykernel_28400\2490839492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gas_comum["MES"] = gas_comum["ANO-MES"].str[5:]

ANO-MES
2004-12          NaN
2005-12     9.233449
2006-12     0.917065
2007-12     0.355591
2008-12     0.984252
2009-12     1.637427
2010-12     2.032988
2011-12     7.105263
2012-12     0.982801
2013-12     6.777894
2014-12     4.361979
2015-12    20.461634
2016-12     3.625065
2017-12    13.643178
2018-12     5.804749
2019-12     3.802993
2020-12    -1.321321
Name: PREÇO MÉDIO REVENDA, dtype: float64

### 13. Criar uma tabela contendo uma série temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresentar também ao lado os estados nos quais os maiores e menores preços foram registrados

In [25]:
df_max = gas_comum.groupby("ANO-MES").max()["PREÇO MÉDIO REVENDA"]
df_min = gas_comum.groupby("ANO-MES").min()["PREÇO MÉDIO REVENDA"]

idx_max = gas_comum.groupby('ANO-MES')["PREÇO MÉDIO REVENDA"].idxmin()
idx_min = gas_comum.groupby('ANO-MES')["PREÇO MÉDIO REVENDA"].idxmax()

df_diff = pd.DataFrame()

In [66]:
idx_max

ANO-MES
2004-05     12114
2004-06     12168
2004-07     12334
2004-08     12411
2004-09     12600
            ...
2021-01    117685
2021-02    118739
2021-03    119271
2021-04    120344
2021-05    120701
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: int64

In [ ]:
df_diff["abs_diff"] = df_max - df_min
df_diff["perct_diff"] = (df_max - df_min) / df_min * 100
df_diff["max"] = df_max
df_diff["min"] = df_min

         abs_diff  perct_diff    max    min
ANO-MES
2004-05     0.550   29.131356  2.438  1.888
2004-06     0.584   30.543933  2.496  1.912
2004-07     0.609   31.456612  2.545  1.936
2004-08     0.530   26.108374  2.560  2.030
2004-09     0.539   26.538651  2.570  2.031
...           ...         ...    ...    ...
2021-01     1.383   36.109661  5.213  3.830
2021-02     1.688   40.960932  5.809  4.121
2021-03     2.109   46.058091  6.688  4.579
2021-04     1.450   30.353779  6.227  4.777
2021-05     1.391   28.580234  6.258  4.867

[204 rows x 4 columns]

In [28]:
gas_comum.loc[idx_max, :][["ESTADO", "PREÇO MÉDIO REVENDA", "ANO-MES"]]

                  ESTADO  PREÇO MÉDIO REVENDA  ANO-MES
12114          SAO PAULO                1.888  2004-05
12168          SAO PAULO                1.912  2004-06
12334   DISTRITO FEDERAL                1.936  2004-07
12411          SAO PAULO                2.030  2004-08
12600          SAO PAULO                2.031  2004-09
...                  ...                  ...      ...
117685             AMAPA                3.830  2021-01
118739             AMAPA                4.121  2021-02
119271             AMAPA                4.579  2021-03
120344             AMAPA                4.777  2021-04
120701             AMAPA                4.867  2021-05

[204 rows x 3 columns]

In [30]:
df_diff["ESTADO_MAX"] = gas_comum.loc[idx_max, :]["ESTADO"].values
df_diff["ESTADO_MIN"] = gas_comum.loc[idx_min, :]["ESTADO"].values
df_diff

         abs_diff  perct_diff    max    min        ESTADO_MAX   ESTADO_MIN
ANO-MES
2004-05     0.550   29.131356  2.438  1.888         SAO PAULO         ACRE
2004-06     0.584   30.543933  2.496  1.912         SAO PAULO  MATO GROSSO
2004-07     0.609   31.456612  2.545  1.936  DISTRITO FEDERAL         ACRE
2004-08     0.530   26.108374  2.560  2.030         SAO PAULO  MATO GROSSO
2004-09     0.539   26.538651  2.570  2.031         SAO PAULO         ACRE
...           ...         ...    ...    ...               ...          ...
2021-01     1.383   36.109661  5.213  3.830             AMAPA         ACRE
2021-02     1.688   40.960932  5.809  4.121             AMAPA         ACRE
2021-03     2.109   46.058091  6.688  4.579             AMAPA         ACRE
2021-04     1.450   30.353779  6.227  4.777             AMAPA         ACRE
2021-05     1.391   28.580234  6.258  4.867             AMAPA         ACRE

[204 rows x 6 columns]

In [85]:
df_diff["ESTADO_MAX"].value_counts()

SAO PAULO              40
AMAPA                  38
PIAUI                  28
PARAIBA                28
PARANA                 14
AMAZONAS               14
DISTRITO FEDERAL       12
MARANHAO                9
SANTA CATARINA          6
PERNAMBUCO              4
MATO GROSSO DO SUL      3
RIO GRANDE DO NORTE     2
GOIAS                   2
CEARA                   2
BAHIA                   2
Name: ESTADO_MAX, dtype: int64

In [86]:
df_diff["ESTADO_MIN"].value_counts()

ACRE              166
MATO GROSSO        25
RIO DE JANEIRO     11
RORAIMA             2
Name: ESTADO_MIN, dtype: int64